# Framework y Servidor
Flask>=2.2.0
gunicorn
flask-cors

# Base de Datos (Versiones modernas obligatorias para tu código)
SQLAlchemy>=2.0.0
Flask-SQLAlchemy>=3.0.0
Flask-Migrate>=4.0.0
psycopg2-binary

# Utilidades
python-dotenv
requests
cloudinary
PyYAML>=6.0

# Extensiones adicionales que usas
flask-admin
flask-swagger

# Librerías base (Déjalas sin versión para evitar conflictos)
alembic
click
jinja2
markupsafe
werkzeug
itsdangerous
urllib3
certifi
six
wtforms

PyJWT
